/*******************************************************************************
 *                                                                             *
 * PsyhoZOOM's sea theme.                                            *
 *                                                                             *
 ******************************************************************************/
@font-face {
     font-family: "Roboto Regular";
     src: url("font/roboto/Roboto-Regular.ttf");
   }
@font-face {
  font-family: "Roboto Bold";
   src: url("font/roboto/Roboto-Bold.ttf");
}

.root {
    -fx-base: #083045 ;
    -fx-background: -fx-base;
    -fx-font-family: "Roboto Regular";
}








.tab {
-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base,30%));
}

.menu-bar {
-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base,30%));
}

.tool-bar:horizontal {
-fx-background-color:
linear-gradient(to bottom, derive(-fx-base,+40%), derive(-fx-base,-20%), derive(-fx-base, -50%));
}



.table-view {
-fx-table-cell-border-color:derive(-fx-base,+10%);
-fx-table-header-border-color:derive(-fx-base,+20%);
}


.split-pane:horizontal > * > .split-pane-divider {
-fx-border-color: transparent -fx-base transparent -fx-base;
-fx-background-color: transparent, derive(-fx-base,20%);
-fx-background-insets: 0, 0 1 0 1;
}

.my-gridpane {
-fx-background-color: radial-gradient(radius 100%, derive(-fx-base,20%), derive(-fx-base,-20%));
}

.separator-label {
-fx-text-fill: orange;
}

.text-input {
 /*-fx-background-color: gray;
 */
 -fx-background-color: derive(-fx-base,40%);
 -fx-text-fill: white;
 -fx-prompt-text-fill: gray;
}

.align-center {
    -fx-alignment: center-center
}
.chart{
        -fx-border-color: black;
        -fx-legend-visible: true;
        -fx-legend-side: bottom;
        -fx-title-side: top;
        -fx-clockwise: true;
        -fx-pie-label-visible: true;
        -fx-label-line-length: 25;
        -fx-pie-to-label-line-curved: true; //curve label lines?
      }
